---
import Page from "@layouts/page";
---

<Page title="About me">
	<h3 class="">About</h3>
	<div class="hero min-h-72" style="background-image: url(https://images.unsplash.com/photo-1698700654176-c42201d7ba49?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5ODcyNTEyMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
	  </div>
	<p class="text-sm">
		Welcome to our community-driven platform dedicated to celebrating the diverse culinary traditions of Papua New Guinea and the Pacific Islands. Here, we passionately gather and share the rich tapestry of flavors, ingredients, and cooking techniques that define the gastronomic heritage of this vibrant region.
	</p>
	<p class="text-sm">
		Our platform serves as a hub where food enthusiasts, cultural aficionados, and curious minds come together to explore and preserve the unique culinary legacies passed down through generations. From traditional recipes lovingly preserved by local communities to innovative fusion dishes inspired by global influences, we showcase the breadth and depth of Pacific Island cuisine.
	</p>
		<p class="text-sm">
		Through engaging articles, mouthwatering recipes, captivating stories, and interactive discussions, we invite you to embark on a journey of culinary discovery. Whether you're seeking inspiration for your next meal, eager to learn about indigenous ingredients, or simply curious about the cultural significance of food in Papua New Guinea and the Pacific Islands, our platform offers a wealth of resources and insights.
	</p>
	<p class="text-sm">
		Join us in celebrating the vibrant flavors, cultural diversity, and shared passion for food that unite us across the vast expanse of the Pacific Ocean. Together, let's savor the essence of tradition, innovation, and community that makes Pacific Island cuisine truly extraordinary.
	</p>
</Page>
