---
  import Page from "@layouts/page";
  import Preview from "@components/blog/list";
  import { published } from "@data/post";
  const markdownFiles = await Astro.glob('../content/**/*.md')
  const posts = published( markdownFiles );
---
  
<Page title="Blogs">
      <h3>Blogs</h3>

       {posts.map((p) => <Preview post={p} />)}	

   
</Page>
  