---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h3 class="text-center">Reach out to us</h3>
	<p class="text-sm text-center">
	Send an email to foodbilum@gmail.com or fill out and send the quick message form below:
	</p>
	<div class="relative flex flex-col justify-center h-screen overflow-hidden ">
        <div class="w-full text-sm p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-xl">
            <h3 class="text-xl font-semibold dark:text-gray-500 text-center text-gray-700">Send Quick Message</h3>
            <form class="space-y-4">
                <div>
                    <label class="label">
                        <span class="text-sm label-text">Name</span>
                    </label>
                    <input type="text" placeholder="Name" class="w-full text-sm  input input-bordered" />
                </div>
                <div>
                    <label class="label">
                        <span class="text-sm label-text">Email</span>
                    </label>
                    <input type="text" placeholder="Email Address" class="w-full text-sm  input input-bordered" />
                </div>
				<div>
                    <label class="label">
                        <span class="text-sm label-text">Message</span>
                    </label>
					<textarea class="textarea text-sm  textarea-bordered mt-2 w-full" placeholder="Message"></textarea>
                    <!-- <input type="text" placeholder="Name" class="w-full input input-bordered" /> -->
                </div>
                <div>
                    <button class="btn btn-block">Send</button>
                </div>

            </form>
        </div>
    </div>
</Page>
