---
import { nav } from "@data/nav"
---
<div class="">
<div class="navbar bg-base-100">
  <div class="items-right text-right flex-1 ">
    <a href="/" class="p-2 bg-base-600  md:text-2xl font-bold flex gap-4 items-center text-green-700">
      <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t39.30808-1/426335532_302666526146350_5148472369506104197_n.jpg?stp=c17.0.480.480a_dst-jpg_p480x480&amp;_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=596444&amp;_nc_ohc=0v1-bklAI_YAX8UBYgY&amp;_nc_ht=scontent-syd2-1.xx&amp;oh=00_AfDSIa7svR59dmsQ-11oVQQwokMa-gk68RkxFs5TzZucdA&amp;oe=65C96D8E" width="48" height="48" alt="Astro Blog" class="rounded-full bg-base-200 md:w-12 md:h-12 w-9 h-9">
      <span class="font-light -mr-4 text-lime-200 drop-shadow-[0_0.2px_0.6px_rgba(0,0,0,0.8)] rounded  tracking-wide">Food</span>Bilum
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 hidden md:flex">
      {nav.map(item => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
    </ul>
    <slot/>
    <div class="dropdown dropdown-end md:hidden">
      <label tabindex={0} class="btn btn-ghost btn-square">
        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </label>
      <ul tabindex={0} class="dropdown-content menu p-2 bg-base-200 rounded-box w-52 menu-compact">
        {nav.map(item => (
          <li>
            <a href={item.slug}>{item.title}</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</div>
</div>